{% extends 'registration/base.html' %}
{% load  crispy_forms_tags %}

{% block htitle %}افزودن مقاله{% endblock %}

{% block title %}لیست مقالات{% endblock %}

{% block main %}
    <div class="card shadow rounded">
        <div class="card-header bg-info">
            <h6>افزودن مقاله</h6>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {#                {{ form.as_p }}#}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.cover|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-12 mb-0">
                        {{ form.content|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {% if  user.is_superuser %}
                            {{ form.author|as_crispy_field }}
                            {{ form.status |as_crispy_field }}
                        {% else %}
                            <div id="div_id_status" class="form-group">
                                <label for="id_status" class=" requiredField">
                                    وضعیت<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <select name="status" class="select form-control" id="id_status">
                                        <option value="پ" selected="">پیش نویس</option>
                                        <option value="د">در صف انتشار</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <button class="btn btn-success" type="submit">تایید مقاله</button>
                {% if user.is_superuser and request.resolver_match.kwargs.pk %}
                    <a class="btn btn-danger text-white"
                       href="{% url 'account:ArticleDelete'  request.resolver_match.kwargs.pk %}">حذف</a>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}