{% load static %}
{% load base_tags %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img src="{% static 'registration/admin LTE/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">پنل نویسندگان</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="
                    {% if  user.avatar %}
                        {{ user.avatar.url }}
                    {% else %}
                        {% static 'registration/admin LTE/avatar.png' %}
                    {% endif %}
                "
                     class="img-circle elevation-2" style="background: #eeeeee;width: 2.4rem;height:2.4rem "
                     alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}

                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" style="padding-right: 0;" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            مقالات
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% active_sidebar request 'account' 'لیست مقالات' 'fa-list-ul' 'c'%}
                        </li>
                        <li class="nav-item">

                            {% active_sidebar request 'ArticleCreate' 'افزودن مقالات' 'fa-edit' 'c'%}

                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    {% active_sidebar request 'Profile' 'پروفایل' 'fa-th' %}
                </li>

                <li class="nav-item">
                    {% active_sidebar request 'CommentaAccont' 'نظرات' 'fa-comments' %}
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>