{% extends 'blog/base.html' %}
{% load static %}
{% load base_tags %}

{% block header %}
    <h2 class="text-right text-white shadow-lg">درباره ما</h2>
{% endblock %}

{% block side_box %}
    {% datail_sidebar box_list box_comment %}
{% endblock %}

{% block main %}
    <!-- About-->
    {#<section class="page-section" id="about">#}
    <div class="container">
        <div class="card shadow card-body">
            <section class="page-section bg-light" id="team">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">درباه ی مدیر سایت</h2>
                        <h3 class="section-subheading text-muted">طراح و مدیر سایت</h3>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'blog/assets/img/team/2.jpg' %}" alt=""/>
                                <h4>محراب اکبری</h4>
                                <p class="text-muted">برنامه نویس</p>
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">با زبان های برنامه نویسی C# , Java , Php به صورت تخصصی کار کردم و بیشتر وقتم رو در برنامه نویسی می گذرونم علاقه زیادی به ساخت اپلیکیشن اندروید دارم.</p></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}