{% extends 'blog/base.html' %}
{% load static %}

{% block alert %}
    {% if title is not NONE %}
        <div class="alert alert-info text-center p-3 mr-5 ml-5 mt-5">دسته بندی : {{ title }}</div>
    {% endif %}
{% endblock %}

{% block header %}
    <h2 class="text-right text-white shadow-lg">آموزش ها و مقالات</h2>
{% endblock %}

{% block side_box %}
    <div class="col-lg-3 d-none d-lg-inline">
        <div class="row">

            <!--last article-->
            <div class="col-12">
                <div class="card shadow rounded">
                    <div class="card-header bg-warning text-white ">
                        <h1 class="h6 mb-2">آخرین پست</h1>
                    </div>
                    <ul class="list-group list-group-flush text-right p-0">
                        {% for list in box_list %}
                        <li class="list-group-item">
                            <img class="rounded-circle style-img-list-right"
                                 src="{{ list.cover.url }}">
                            <a class="small btn-link mr-1 " style="margin-top: -10px;" href="#">{{ list.title}}</a>
                            <small class="d-block">
                                <img class="ml-2 mr-5 pr-3" src="{% static 'blog/assets/img/time.svg' %}" height="24">1345/2/2
                            </small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!--last Comments-->
            <div class="col-12 mt-4">
                <div class="card shadow rounded">
                    <div class="card-header bg-warning text-white ">
                        <h1 class="h6 mb-2">آخرین نظرات</h1>
                    </div>
                    <ul class="list-group list-group-flush text-right p-0">
                        <li class="list-group-item">
                            <img class="rounded-circle style-img-list-right"
                                 src="assets/img/portfolio/01-full.jpg">
                            <a class="btn btn-link " href="#">amir</a>
                            <p style="font-size: 17px" class="mr-5  text-secondary mt-0">سلام خیلی عالی لطفا
                                مطلب بیشتری بزارید</p>
                            <small class="d-block text-left">
                                <img class="ml-2 mr-5 pr-3" src="assets/img/time.svg" height="24">1345/2/2
                            </small>
                        </li>
                        <li class="list-group-item">
                            <img class="rounded-circle style-img-list-right"
                                 src="assets/img/portfolio/01-full.jpg">
                            <a class="btn btn-link " href="#">amir</a>
                            <p style="font-size: 17px" class="mr-5  text-secondary mt-0">سلام خیلی عالی لطفا
                                مطلب بیشتری بزارید</p>
                            <small class="d-block text-left">
                                <img class="ml-2 mr-5 pr-3" src="assets/img/time.svg" height="24">1345/2/2
                            </small>
                        </li>
                        <li class="list-group-item">
                            <img class="rounded-circle style-img-list-right"
                                 src="assets/img/portfolio/01-full.jpg">
                            <a class="btn btn-link " href="#">amir</a>
                            <p style="font-size: 17px" class="mr-5  text-secondary mt-0">سلام خیلی عالی لطفا
                                مطلب بیشتری بزارید</p>
                            <small class="d-block text-left">
                                <img class="ml-2 mr-5 pr-3" src="assets/img/time.svg" height="24">1345/2/2
                            </small>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}

    <!--article list-->
    {% for article in object_list %}
        <div class="col-lg-12 col-sm-12  p-lg-5 p-md-5 p-5">
            <div class="card rounded shadow border-0 card-hover">
                <img class="style-img-card  rounded " src="{{ article.cover.url }}"
                     alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ article.title }}</h5>
                    <p class="card-text mt-3 text-justify small">{{ article.content|truncatewords:52 }}</p>
                </div>
                <div class="card-footer mt-3 rounded">
                    <a href="{% url 'blog:DetailArticle' article.id %}" class="btn btn-primary rounded float-left">ادامه مطلب</a>
                    <small class="text-secondary">
                        <img src="{% static 'blog/assets/img/view.svg' %}" width="23"
                             class=" d-none d-lg-inline d-md-inline ml-1"/><span
                            class="d-none d-lg-inline d-md-inline">32</span>
                        <img src="{% static 'blog/assets/img/chat.svg' %}" width="20"
                             class="ml-1 mr-lg-1 mr-md-1"/>32
                        <img src="{% static 'blog/assets/img/time.svg' %}" width="20"
                             class="ml-1 mr-2"/>{{article.jcreated_d}}
                        <span class="text-secondary mr-1 d-none d-lg-inline d-md-inline">
                        دسته بندی : {% for  category in article.category.all %}
                            <a class="btn-link" href="{% url 'blog:ArticleListCategory' category.title %}">
                            {{ category }}
                        </a>
                        {% endfor %}
                        </span>
                    </small>

                </div>
                <!--                    </div>-->

            </div>
        </div>
    {% endfor %}

    <!--pagintor-->
    <div class="container text-center mt-3 mr-5 ml-5 ">
        {% if page_obj.has_previous %}
            <a href="{% url 'blog:ArticleList' %}?page={{ page_obj.previous_page_number }}"
               class="btn btn-outline-info rounded  ">&rarr; پست جدید</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{% url 'blog:ArticleList' %}?page={{ page_obj.next_page_number }}"
               class=" btn btn-outline-info rounded dc mr-2 ">پست قدیمی &larr;</a>
        {% endif %}

    </div>
{% endblock %}