{% extends 'blog/base.html' %}
{% load base_tags %}
{% load static %}

{% block alert %}
    {% if title is not NONE %}
        <div class="alert alert-info text-center p-3 mr-5 ml-5 mt-5">دسته بندی : {{ title }}</div>
    {% endif %}
{% endblock %}

{% block header %}
    <h2 class="text-right text-white shadow-lg">آموزش ها و مقالات</h2>
{% endblock %}

{% block side_box %}
    {% datail_sidebar box_list box_comment %}
{% endblock %}

{% block main %}

    <!--article list-->
    {% for article in object_list %}
        <div class="col-lg-12 col-sm-12  p-lg-5 p-md-5 p-5">
            <div class="card rounded shadow border-0 card-hover">
                <img class="style-img-card  rounded " src="{{ article.cover.url }}"
                     alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ article.title }}</h5>
                    <p class="card-text mt-3 text-justify small">{{ article.content|striptags|truncatewords:52 }}</p>
                </div>
                <div class="card-footer mt-3 rounded">
                    <a href="{% url 'blog:DetailArticle' article.title %}" class="btn btn-primary rounded float-left">ادامه
                        مطلب</a>
                    <small class="text-secondary">
                        <img src="{% static 'blog/assets/img/view.svg' %}" width="23"
                             class=" d-none d-lg-inline d-md-inline ml-1"/><span
                            class="d-none d-lg-inline d-md-inline">32</span>
                        <img src="{% static 'blog/assets/img/chat.svg' %}" width="20"
                             class="ml-1 mr-lg-1 mr-md-1"/>32
                        <img src="{% static 'blog/assets/img/time.svg' %}" width="20"
                             class="ml-1 mr-2"/>{{ article.jcreated_d }}
                        <span class="text-secondary mr-1 d-none d-lg-inline d-md-inline">
                        دسته بندی : {% for  category in article.category.all %}
                            <a class="btn-link" href="{% url 'blog:ArticleListCategory' category.title %}">
                            {{ category }}
                        </a>
                        {% endfor %}
                        </span>
                    </small>

                </div>
                <!--                    </div>-->

            </div>
        </div>
    {% endfor %}

    <!--pagintor-->
    <div class="container text-center mt-3 mr-5 ml-5 ">
        {% if page_obj.has_previous %}
            <a href="{% url 'blog:ArticleList' %}?page={{ page_obj.previous_page_number }}"
               class="btn btn-outline-info rounded  ">&rarr; پست جدید</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{% url 'blog:ArticleList' %}?page={{ page_obj.next_page_number }}"
               class=" btn btn-outline-info rounded dc mr-2 ">پست قدیمی &larr;</a>
        {% endif %}

    </div>
{% endblock %}