{% extends 'blog/base.html' %}
{% load static %}
{% load comment_tags %}
{% load base_tags %}

{% block header %}
    <h2 class="text-right text-white shadow-lg">آموزش ها و مقالات</h2>
{% endblock %}

{% block side_box %}
    {% datail_sidebar box_list box_comment %}
{% endblock %}

{% block main %}
    <div class="container">

        <!--article-->
        <div class="card rounded shadow">
            <div class="mr-5 ml-5 mt-3 text-center ">
                <img class="img-fluid rounded shadow-sm  w-75 " src="{{ article.cover.url }}">
            </div>
            <h1 class="text-info h5 text-center m-3">{{ article.title }}</h1>
            <hr class="hr">
            <small class="text-secondary text-center ">
                <img src="{% static 'blog/assets/img/view.svg' %}" width="20"
                     class="  ml-1"/><span class="">32</span>
                <img src="{% static 'blog/assets/img/chat.svg' %}" width="17"
                     class="ml-1 mr-lg-1 mr-md-1"/>32
                <img src="{% static 'blog/assets/img/time.svg' %}" width="17"
                     class="ml-1 mr-2"/>{{ article.jcreated_d }}
                <span class="text-secondary mr-1">
                        دسته بندی : {% for  category in article.category.all %}
                    <a class="btn-link " href="{% url 'blog:ArticleListCategory' category.title %}">
                            {{ category }}
                        </a>
                {% endfor %}
                        </span>
            </small>
            <div class="card-body">
                <p class="card-text text-justify">{{ article.content |safe }}</p>
            </div>
        </div>

        <!--author-->
        <div class="card rounded shadow mt-3">

            <div class="card-header bg-warning text-white">
                <div class="row">
                    <div class="col-2"><span>نویسنده</span></div>
                    <div class="col-8 text-center"><img class="rounded-circle style-img-author"
                                                        src="{{ article.author.avatar.url }}"></div>
                </div>
            </div>
            <div class="card-body border-0 text-center">

                <h1 class="h6 d-block mr-2 mt-3 ">{{ article.author.user.first_name }} {{ article.author.user.last_name }}</h1>

                <p class="card-text">{{ article.author.description }}</p>
            </div>
        </div>

        <!--comments-->
        {% render_comments object request %}
        {% include_static_jquery %}
{#        {% include_bootstrap %}#}
    </div>

{% endblock %}